body {
    background-color: #E8DDFF;
}

header {
    /* background-image: url('images/Background-img.svg');
    background-size: cover;
    background-repeat: no-repeat; */

    height: 100vh;
}

#hero {
    position: relative;
    margin: 3em 8em;
    /* width: 100vh; */
    top: 10%;
}

#hero img {
    /* max-width: 100%; */
    display: block;
}

#hero-p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: #3A4323;

    width: 489px;
    position: absolute;
    top: 210px;
    left: 160px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav {
    padding-top: 20px;
}

.footer-nav ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

/* .footer-nav ul li:last-child {
    margin-right: 8em;
} */

.footer-nav {
    padding-left: 8em;
    padding-right: 8em;
}

.footer-nav ul li {
    padding: 10px;
}

.footer-nav ul a {
    text-decoration: none;
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    color: #617235;
    font-size: 1.5em;
}

.card {
    text-decoration: none;
}

.card-img {
    background-color: #DCCCFF;
    width: 580px;
    height: 355px;
    border-radius: 10px;
    border: solid 0.5px #3A4323;
}

.card-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

#card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
    margin: 0 8em;
    justify-items: center;  
    padding-bottom: 100px;
    padding-top: 80px;
}

.footer-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    padding-top: 20px;
    padding-bottom: 20p;
    border-top: solid 1px #3A4323;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #3A4323;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #39641D;
}

article {
    width: 580px;
    margin-top: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
}

article p {
    padding-left: 20px;
    padding-right: 20px;
}

article h2 {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: -10px;
}

article:hover {
    -webkit-box-shadow: 0px 0px 11px 4px #B695FF; 
    box-shadow: 0px 0px 11px 4px #B695FF;
}

@media only screen and (max-width: 1200px) {
    #card-container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 800px) {
    header {
        height: 80vh;
    }

    #hero {
        margin: 0 2em;
    }

    #hero-p {
        width: 450px;
        position: absolute;
        top: 210px;
        left: 160px;
        
        font-size: 1.4em;
    }

    /* .footer-nav ul li:last-child {
        margin-right: 2em;
    } */

    .footer-nav {
        padding-left: 2em;
        padding-right: 2em;
    }

    #card-container {
        margin: 0 2em;
    }
}

@media only screen and (max-width: 600px) {
    header {
        height: 60vh;
    }

    #hero {
        margin: 0 1em;
    }

    #hero-p {
        width: 300px;
        position: absolute;
        top: 210px;
        left: 160px;
        
        font-size: 1.2em;
    }

    /* .footer-nav ul li:last-child {
        margin-right: 1em;
    } */

    .footer-nav {
        padding-left: 1em;
        padding-right: 1em;
    }

    article {
        width: 500px;
    }

    .card-img {
        width: 500px;
        overflow: hidden;
    }

    #card-container {
        margin: 0;
    }

}
